<h1>Food Hub Producers</h1>
<% if current_user %>
<p><%= current_user.name %></p>
<table>
  <tr>
    <th>Item Name</th>
    <th>Price</th>
    <th>Inventory Count</th>
    <th>Edit Link</th>
  </tr>
  <% current_user.items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td><%= item.count %></td>
      <td>
        <form action="/producers/item/<%= item.id %>/edit" method="get">
          <input type="submit" value="Edit">
        </form>
      </td>
    </tr>
  <% end %>
</table>
<form action="producers/item/new" method="get">
  <input type="submit" value="Create New Item">
</form>
<% end %>